body {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    text-align: justify;
}

.overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/image/chess_head.png");
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 3px;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
}

.navbar-brand-name {
    font-size: 16px;
}

.navbar-img {
    max-width: 40px;
}

.navbar-nav {
    font-size: 14px;
}

.card-footer {
    font-size: 14px;
}

.card-link {
    text-decoration: none;
    color: #212529;
    transition: 0.2s;
}

.card-link:hover {
    color: rgb(84, 86, 94);
}